
GO
/****** Object:  Database [LMS_DB]    Script Date: 16/05/2016 11:32:00 AM ******/
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS_DB]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[authorId] [int] IDENTITY(1,1) NOT NULL,
	[authorName] [varchar](50) NOT NULL,
	[authorContact] [varchar](50) NULL,
 CONSTRAINT [PK_AUTHOR] PRIMARY KEY CLUSTERED 
(
	[authorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOOK](
	[bookId] [int] IDENTITY(1,1) NOT NULL,
	[bookName] [varchar](50) NOT NULL,
	[purchasePrice] [int] NOT NULL,
	[publisherId] [int] NULL,
	[catagoryId] [int] NULL,
	[rackId] [int] NULL,
	[sectionId] [int] NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOK_AUTHOR]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_AUTHOR](
	[bookId] [int] NOT NULL,
	[authorId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BOOK_AUTHOR] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC,
	[authorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_ISSUENCE]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_ISSUENCE](
	[issueId] [int] IDENTITY(1,1) NOT NULL,
	[bookId] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[issuedOn] [date] NOT NULL,
	[returnDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BOOK_ISSUENCE] PRIMARY KEY CLUSTERED 
(
	[issueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATAGORY]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATAGORY](
	[catagoryId] [int] IDENTITY(1,1) NOT NULL,
	[catagoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATAGORY] PRIMARY KEY CLUSTERED 
(
	[catagoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[employeeId] [int] IDENTITY(1,1) NOT NULL,
	[employeeName] [varchar](50) NOT NULL,
	[Designation] [varchar](50) NOT NULL,
	[employeeContact] [varchar](50) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINE]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINE](
	[fineId] [int] IDENTITY(1,1) NOT NULL,
	[fineAmount] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[paidOn] [datetime] NOT NULL,
 CONSTRAINT [PK_FINE] PRIMARY KEY CLUSTERED 
(
	[fineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER](
	[memberId] [int] IDENTITY(1,1) NOT NULL,
	[memberName] [varchar](50) NOT NULL,
	[memberContact] [varchar](50) NULL,
 CONSTRAINT [PK_MEMBER] PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[publisherId] [int] IDENTITY(1,1) NOT NULL,
	[publisherName] [varchar](50) NOT NULL,
	[publisherContact] [varchar](50) NULL,
 CONSTRAINT [PK_PUBLISHER] PRIMARY KEY CLUSTERED 
(
	[publisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RACK]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACK](
	[rackId] [int] IDENTITY(1,1) NOT NULL,
	[sectionId] [int] NULL,
 CONSTRAINT [PK_RACK] PRIMARY KEY CLUSTERED 
(
	[rackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTION](
	[sectionId] [int] IDENTITY(1,1) NOT NULL,
	[sectionName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SECTION] PRIMARY KEY CLUSTERED 
(
	[sectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 16/05/2016 11:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[userPassword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AUTHOR] ON 

INSERT [dbo].[AUTHOR] ([authorId], [authorName], [authorContact]) VALUES (1, N'Zaki Ahmed', N'0337-1234567')
SET IDENTITY_INSERT [dbo].[AUTHOR] OFF
SET IDENTITY_INSERT [dbo].[BOOK] ON 

INSERT [dbo].[BOOK] ([bookId], [bookName], [purchasePrice], [publisherId], [catagoryId], [rackId], [sectionId]) VALUES (1, N'English', 350, NULL, NULL, NULL, NULL)
INSERT [dbo].[BOOK] ([bookId], [bookName], [purchasePrice], [publisherId], [catagoryId], [rackId], [sectionId]) VALUES (8, N'Chemistry XII', 300, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BOOK] OFF
SET IDENTITY_INSERT [dbo].[CATAGORY] ON 

INSERT [dbo].[CATAGORY] ([catagoryId], [catagoryName]) VALUES (1, N'Computer')
SET IDENTITY_INSERT [dbo].[CATAGORY] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([employeeId], [employeeName], [Designation], [employeeContact]) VALUES (1, N'Ali Hassan', N'Librarian', N'0334-0987654')
INSERT [dbo].[EMPLOYEE] ([employeeId], [employeeName], [Designation], [employeeContact]) VALUES (2, N'Waleed Ahmed', N'Manager', N'03335066966')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
SET IDENTITY_INSERT [dbo].[PUBLISHER] ON 

INSERT [dbo].[PUBLISHER] ([publisherId], [publisherName], [publisherContact]) VALUES (3, N'Safi Anjum', N'0333-8652394')
INSERT [dbo].[PUBLISHER] ([publisherId], [publisherName], [publisherContact]) VALUES (4, N'Umer Farooq', N'0333-67493821')
SET IDENTITY_INSERT [dbo].[PUBLISHER] OFF
SET IDENTITY_INSERT [dbo].[RACK] ON 

INSERT [dbo].[RACK] ([rackId], [sectionId]) VALUES (10, NULL)
INSERT [dbo].[RACK] ([rackId], [sectionId]) VALUES (11, NULL)
SET IDENTITY_INSERT [dbo].[RACK] OFF
SET IDENTITY_INSERT [dbo].[SECTION] ON 

INSERT [dbo].[SECTION] ([sectionId], [sectionName]) VALUES (1, N'Islamic')
INSERT [dbo].[SECTION] ([sectionId], [sectionName]) VALUES (4, N'Geography')
SET IDENTITY_INSERT [dbo].[SECTION] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([userId], [userName], [userPassword]) VALUES (2, N'Safi Ahmed', N'safi0')
INSERT [dbo].[USER] ([userId], [userName], [userPassword]) VALUES (5, N'Umer Farooqi', N'umer1')
SET IDENTITY_INSERT [dbo].[USER] OFF
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_CATAGORY] FOREIGN KEY([catagoryId])
REFERENCES [dbo].[CATAGORY] ([catagoryId])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_CATAGORY]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PUBLISHER] FOREIGN KEY([publisherId])
REFERENCES [dbo].[PUBLISHER] ([publisherId])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_PUBLISHER]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_RACK] FOREIGN KEY([rackId])
REFERENCES [dbo].[RACK] ([rackId])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_RACK]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_SECTION] FOREIGN KEY([sectionId])
REFERENCES [dbo].[SECTION] ([sectionId])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_SECTION]
GO
ALTER TABLE [dbo].[BOOK_AUTHOR]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHOR_AUTHOR] FOREIGN KEY([authorId])
REFERENCES [dbo].[AUTHOR] ([authorId])
GO
ALTER TABLE [dbo].[BOOK_AUTHOR] CHECK CONSTRAINT [FK_BOOK_AUTHOR_AUTHOR]
GO
ALTER TABLE [dbo].[BOOK_AUTHOR]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHOR_BOOK] FOREIGN KEY([bookId])
REFERENCES [dbo].[BOOK] ([bookId])
GO
ALTER TABLE [dbo].[BOOK_AUTHOR] CHECK CONSTRAINT [FK_BOOK_AUTHOR_BOOK]
GO
ALTER TABLE [dbo].[BOOK_ISSUENCE]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_ISSUENCE_BOOK] FOREIGN KEY([bookId])
REFERENCES [dbo].[BOOK] ([bookId])
GO
ALTER TABLE [dbo].[BOOK_ISSUENCE] CHECK CONSTRAINT [FK_BOOK_ISSUENCE_BOOK]
GO
ALTER TABLE [dbo].[BOOK_ISSUENCE]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_ISSUENCE_EMPLOYEE] FOREIGN KEY([employeeId])
REFERENCES [dbo].[EMPLOYEE] ([employeeId])
GO
ALTER TABLE [dbo].[BOOK_ISSUENCE] CHECK CONSTRAINT [FK_BOOK_ISSUENCE_EMPLOYEE]
GO
ALTER TABLE [dbo].[BOOK_ISSUENCE]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_ISSUENCE_MEMBER] FOREIGN KEY([memberId])
REFERENCES [dbo].[MEMBER] ([memberId])
GO
ALTER TABLE [dbo].[BOOK_ISSUENCE] CHECK CONSTRAINT [FK_BOOK_ISSUENCE_MEMBER]
GO
ALTER TABLE [dbo].[FINE]  WITH CHECK ADD  CONSTRAINT [FK_FINE_MEMBER] FOREIGN KEY([memberId])
REFERENCES [dbo].[MEMBER] ([memberId])
GO
ALTER TABLE [dbo].[FINE] CHECK CONSTRAINT [FK_FINE_MEMBER]
GO
USE [master]
GO
